<template class="js-mp-delete-form-template">
  <form action="" method="POST">
    <!-- MFS delete card parameters start -->
    <input type="hidden" name="userId" />
    <input type="hidden" name="msisdn" />
    <input type="hidden" name="accountAliasName" value=""/>
    <!-- MFS Check MasterPass parameters start -->
    <input type="hidden" name="token" value="" />
    <input type="hidden" name="referenceNo" value="" />
    <input type="hidden" name="sendSmsLanguage" value="eng" />
    <input type="hidden" name="sendSms" value="N" />
    <!-- MFS Check MasterPass  operation parameters end -->
  </form>
</template>