<template class="js-mp-direct-purchase-form-template">
  <form action="" method="POST">
    <input name="amount" type="hidden" value="" />
    <input type="hidden" name="userId" value="{{ request.user.id }}" />
    <input type="hidden" name="msisdn" value="9{{ pre_order.user_phone_number }}" />
    <input name="rtaPan" type="hidden" value="" />
    <input name="expiryDate" type="hidden" value="" />
    <input name="cvc" type="hidden" value="" />
    <input name="cardHolderName" type="hidden" value="" />

    <!-- MFS direct purchase parameters start -->
    <input type="hidden" name="token" value=""/>
    <input type="hidden" name="referenceNo" value="" />
    <input type="hidden" name="sendSmsLanguage" value="eng" />
    <input type="hidden" name="macroMerchantId" value="{{ masterpassjs().merchant_id }}" />
    <input type="hidden" name="orderNo" value="" />
    <input type="hidden" name="installmentCount" value="" />
    <!-- MFS constant parameters start -->
    <input type="hidden" name="sendSms" value="N" />
    <!-- MFS constant parameters end -->
  </form>
</template>