.pz-mp-input {
  width: 100%;
  display: block;
  background-color: #fff;
  height: 40px;
  border: 1px solid #ddd;
  padding: 0 14px;
}

.pz-mp-button {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  height: 40px;
  transition: 0.3s all ease;
  width: 100%;
  position: relative;

  &:hover {
    background-color: #fff;
    color: #000;
  }

  &.-disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  &.-busy {
    pointer-events: none;
    color: #000;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -12px 0 0 -12px;
      width: 24px;
      height: 24px;
      border: 2px solid #444;
      border-top: 2px solid #fff;
      border-radius: 100%;
      animation: mpSpin 1s linear infinite;
    }
  }
}

.pz-mp-input,
.pz-mp-button {
  font-size: 0.75rem;
}

.pz-mp-form {
  &__error {
    margin: 5px 0;
    color: #ff0000;
    font-size: 0.75rem;
  }
}

.pz-mp-info-icon {
  margin-left: 10px;
  cursor: pointer;
  opacity: .6;
  transition: all .2s ease;

  &:hover {
    opacity: 1;
  }
}

.pz-mp-modal {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &__icon {
    font-size: 44px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  &__header {
    align-items: center;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 0;
  }

  &__close-btn {
    align-items: center;
    display: flex;
    font-size: 24px;
    height: 24px;
    justify-content: center;
    transition: 0.3s all ease;
    width: 24px;
    margin-left: auto;

    &:hover {
      background-color: #eee;
    }
  }

  &__title {
    text-align: center;

    &:not(:empty) {
      margin-bottom: 20px;
    }
  }

  &__content {
    background-color: #fff;
    left: 50%;
    max-height: 95%;
    overflow-y: auto;
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;

    form {
      display: flex;
      flex-direction: column;

      .pz-mp-button {
        margin-top: 10px;
      }
    }
  }

  &__countdown {
    color: #555;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
  }

  .pz-mp-button {
    margin-top: 10px;
  }

  .pz-mp-link-button {
    margin-top: 30px;
  }
}

.pz-mp-switch-payment-type-btn {
  display: inline-block;
  text-decoration: underline;
  margin-top: 20px;
}

.pz-mp-direct-purchase {
  padding: 20px;
}

.pz-mp-save-card {
  background: #eee;
  padding: 20px;

  &-cb-w {
    display: flex;
    align-items: center;

    &__checkbox {
      display: block;
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-right: 20px;
      border: 1px solid #999;
      flex-shrink: 0;
      position: relative;

      &.-checked::after {
        content: "";
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        background-color: #000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__text {
      margin-right: 10px;
      font-size: 0.75rem;
    }

    &__logo {
      width: 114px;
    }
  }

  &__form-w {
    margin-top: 20px;
  }

  &__label {
    font-size: 0.75rem;
    font-weight: bold;
  }

  &__error {
    margin: 5px 0;
    color: #ff0000;
    font-size: 0.75rem;
  }

  &__button {
    margin-top: 10px;
  }
}

.pz-mp-card-list {
  width: 100%;

  &-wrapper {
    padding: 24px;
  }

  &-info {
    margin-bottom: 20px;
  }

  &__item + &__item {
    margin-top: 15px;
  }

  &__item {
    align-items: center;
    background-color: #eee;
    display: flex;
    padding: 15px 15px 15px 60px;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: #e3e3e3;
    }

    &::before {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 100%;
      content: "";
      display: block;
      height: 20px;
      left: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
    }

    &::after {
      background-color: #000;
      border-radius: 100%;
      content: "";
      display: none;
      height: 12px;
      left: 19px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
    }

    &.-selected {
      &::before {
        border-color: #000;
      }

      &::after {
        display: block;
      }
    }

    &-detail {
      flex: 1;
    }

    &-card-number {
      color: #666;
      font-size: 12px;
    }

    &-card-logo {
      width: 50px;
    }

    &-delete-btn {
      align-items: center;
      display: flex;
      height: 30px;
      justify-content: center;
      margin-left: 10px;
      width: 30px;

      &:hover {
        background-color: #ddd;
      }
    }

    &-delete-icon {
      font-size: 14px;
    }
  }
}

@keyframes mpSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}