<template class="js-mp-link-form-template">
  <form method="post">
    <input type="hidden" name="msisdn" value="" />
    <input type="hidden" name="token" value="" />
    <input type="hidden" name="referenceNo" value="" />
    <input type="hidden" name="sendSmsLanguage" value="eng" />
    <input type="hidden" name="sendSms" value="N" />
  </form>
</template>