<template class="js-mp-link-modal-template">
  <div>
    <p class="js-mp-link-description"></p>
    <button class="pz-mp-button pz-mp-link-button js-mp-link-button">{{ _('Use') }}</button>
  </div>
</template>