<template class="js-mp-list-modal-template">
  <div class="mp-otp-modal js-mp-list-modal pz-mp-modal">
    <div class="pz-mp-modal__content">
      <input type="hidden" name="phone" value="9{{ user.phone }}">
      <ul class="js-mp-card-list"></ul>
    </div>
  </div>
</template>