<template class="js-mp-otp-modal-template">
  <div>
    <form class="pz-mp-form">
      <input type="hidden" name="token" value="" />
      <input type="hidden" name="referenceNo" value="" />
      <input type="hidden" name="sendSms" value="N" />
      <input type="hidden" name="sendSmsLanguage" value="eng" />
      <input type="hidden" name="pinType" value="otp" />
      <input class="pz-mp-input" name="validationCode" type="tel"
        autocomplete="off" minlength="6" maxlength="6" max="999999" min="000000" placeholder="{{ _('Confirmation Code') }}" />
      <p class="pz-mp-form__error js-mp-otp-form-error" hidden></p>
      <button type="submit" class="pz-mp-button js-mp-otp-submit-button">{{ _('Confirm') }}</button>
    </form>
    <button class="pz-mp-button js-mp-resend-sms-btn">{{ _('Send SMS Again') }}</button>
    <div class="pz-mp-modal__countdown js-mp-countdown"></div>
  </div>
</template>