<template class="js-mp-purchase-form-template">
  <form action="" method="POST">
    <input name="amount" type="hidden" value="" />
    <input type="hidden" name="userId" value="{{ request.user.id }}" />
    <input type="hidden" name="msisdn" value="9{{ pre_order.user_phone_number }}" />
  
    <!-- MFS purchase parameters start -->
    <input type="hidden" name="cardName" value="" />
    <input type="hidden" name="listAccountName" value="" />
    <input type="hidden" name="cardAliasName" value="" />
    <input type="hidden" name="token" value="" />
    <input type="hidden" name="referenceNo" value="" />
    <input type="hidden" name="sendSmsLanguage" value="eng" />
    <input type="hidden" name="macroMerchantId" value="{{ masterpassjs().merchant_id }}" />
    <input type="hidden" name="orderNo" value="" />
    <input type="hidden" name="installmentCount" value="" />
  
    <!-- MFS constant parameters start -->
    <input type="hidden" name="sendSms" value="N" />
    <input type="hidden" name="aav" value="aav" />
    <input type="hidden" name="clientIp" value="" />
    <input type="hidden" name="encCPin" value="0" />
    <input type="hidden" name="encPassword" value="" />
    <input type="hidden" name="sendSmsMerchant" value="Y" />
    <input type="hidden" name="password" value="" />
    <!-- MFS constant parameters end -->
  
  </form>
</template>