<template class="js-mp-register-form-template">
  <form action="" method="POST">
    <input type="hidden" name="userId" />
    <input type="hidden" name="msisdn" />

    <!-- MFS register parameters start -->
    <input type="hidden" name="token" value="">
    <input type="hidden" name="referenceNo" value="">
    <input type="hidden" name="sendSmsLanguage" value="eng">
    <input type="hidden" name="accountAliasName" value="">
    <input type="hidden" name="rtaPan" value="">
    <input type="hidden" name="expiryDate" value="">
    <input type="hidden" name="cvc" value="">
    <!-- MFS register parameters end -->

    <!-- MFS constant parameters start -->
    <input type="hidden" name="sendSms" value="N">
    <input type="hidden" name="actionType" value="A">
    <input type="hidden" name="clientIp" value="">
    <input type="hidden" name="delinkReason" value="">
    <input type="hidden" name="eActionType" value="A">
    <input type="hidden" name="cardTypeFlag" value="05">
    <input type="hidden" name="cpinFlag" value="Y">
    <input type="hidden" name="defaultAccount" value="Y">
    <input type="hidden" name="mmrpConfig" value="110010">
    <input type="hidden" name="identityVerificationFlag" value="Y">
    <input type="hidden" name="mobileAccountConfig" value="MWA">
    <input type="hidden" name="timeZone" value="+01">
    <input type="hidden" name="uiChannelType" value="6">
    <!-- MFS constant parameters end -->
  </form>
</template>